body{
    
    background: white;
    margin:auto;
   
}

.header{
    background-color: #f2c0f0;
   
}
.header img{
    width:100px;
    margin:0;
    padding-left: 600px;
    background-size: auto;
    
}

.menu{
    background-color:#7900a5;
    padding:6px 0 6px 40px;
}

.menu a{
    color:#f2c0f0;
    text-decoration:none;
    font-size: 15px;
    font-family: cursive;
}

.menu a:hover{
    font-size:18px;
    color:aliceblue;
    
    
}
.menu #login{
    float:right;
    margin-right:20px;
}


h1{

    margin:0px;
    font-size:20px;
    font-family:"georgia";
    font-weight:normal;
}

.main{
     padding:10px 10px 10px 10px;
}


